<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} &lt;%X{AWSRequestId}&gt; %-5p %c{3}[%L] - %m%n</pattern>
    </encoder>
  </appender>
  <logger name="io.fineo.lambda.io.fineo.read.drill.e2e.resources.lambda" level="INFO"/>
  <logger name="io.fineo.lambda" level="TRACE"/>
  <logger name="org.apache.http" level="INFO"/>
  <logger name="org.apache.spark.sql.hive.orc" level="TRACE"/>
  <logger name="org.spark-project.jetty" level="INFO"/>
  <logger name="com.amazonaws" level="INFO"/>
  <logger name="org.apache.drill.exec.memory" level="INFO"/>
  <logger name="io.netty.buffer" level="INFO"/>
  <logger name="org.eclipse.jetty" level="INFO"/>
  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
